<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1Yc_iheVBAWZdsA9i9nFzNeQQ6HGZZ4k</string>
	<key>GCM_SENDER_ID</key>
	<string>194908899359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.girinhong.appTwo</string>
	<key>PROJECT_ID</key>
	<string>app-two-cat-2c9fe</string>
	<key>STORAGE_BUCKET</key>
	<string>app-two-cat-2c9fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194908899359:ios:352f011c4beae7812bad2a</string>
</dict>
</plist>